# Build output
bin/
obj/
*.dll
*.pdb
*.exe

# IDE / user files
.vs/
*.user
*.suo
*.csproj.user

# NuGet
packages/

# OS
.DS_Store
Thumbs.db
EPEDUNO ABRAHAM.xlsx
NANSANA BOQ FINAL.xlsx
Proposed Police CDAC Building Kibuli.xlsx
bills.xls
kiwafe_mech_27102015_final[1].xls
5 URA Hdqs Mech BOQs UP.xlsx
Electrical_BoQ_...priced_Alelei v5.xlsx
